* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

main {
    margin: 1rem;
}

.select-reading {
    margin: .5rem 0;
}

.card-layout {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.card {
    margin: 0 1rem;
    outline: 3px dashed steelblue;
    height: 250px;
    width: 175px;
    border-radius: 20px;
}