* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

.card-layout {
    display: flex;
}

.card {
    margin: 2rem 1rem;
    outline: 3px dashed red;
    height: 250px;
    width: 175px;
    border-radius: 20px;
}